header {
    background: rgb(192, 186, 186);
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(48, 112, 240, 0.788);
}
.container-carjeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;

}
.perfil{
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px black;
    padding: 20px;
    text-align: center;
    width: 200px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: 350px;
}
.perfil img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 10px;
}
.perfil:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 18px rgb(88, 220, 76);
}
.perfil button{
    margin-top: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.perfil button:hover{
    background: blue;
}
.BT button{
    margin-top: 10px;
    background: gray;
    color: white;
    border: none;
    box-shadow: 0 4px 12px black;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.BT button:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgb(88, 220, 76);
    backgroung: gray;    
}
body {
   margin: 0px; 
}
section {
  padding-top: 4vh;
  margin: 0 10rem;
  box-sizing: border-box;
  scroll-margin-top: 80px;
}
.full-screen-section {
    min-height: 100vh;
}

.section-container {
  display: flex;
}

.article-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.details-container {
  padding: 1rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
  font-size: 3rem;
  text-align: center;
}
article img{
    width: 100px;
    height: 100px;
}
.contenedor {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  justify-content: center;
}
.imagen-circular{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.derecha{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.parrafo p{
  margin-bottom: 5px;
}
.botones{
  display: flex;
  gap: 10px;
}
.botones buttom{
  padding: 8px 16px;
  font-size: 16px;
}
.imagenes-inferiores{
  display: flex;
  gap: 10px;
}
.imagenes-inferiores img{
  width: 100px;
  height: auto;
}
nav{
  display: auto;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;

}
.navbar ul{
  list-style-type: none;
  background-color: hsl(0, 0, 25%);
  padding: 0px;
  margin: 0px;
}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
}
.navbar a:hover{
  background-color: hsl(0, 0, 10%);
}
.navbar li{
  display: inline-block;
  list-style-type: none;
  display:  10px 20px;
}
html {
  scroll-behavior: smooth;
}
