header {
    background: rgb(75, 73, 73);
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(48, 112, 240, 0.788);
}
.perfil{
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 12px black;
    padding: 20px;
    text-align: auto;
    width: auto;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: auto;
}
.perfil img{
    width: auto;
    height: auto;
    border-radius: 20px;
    object-fit: contain;
    margin-bottom: 10px;
}
.perfil:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 18px rgb(117, 97, 74);
}
.perfil button{
    margin-top: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.perfil button:hover{
    background: blue;
}
body {
   margin: 0px; 
}
section {
  padding-top: 4vh;
  margin: 0 5rem;
  box-sizing: border-box;
  scroll-margin-top: 80px;
}
.full-screen-section {
    min-height: 100vh;
}

.section-container {
  display: flex;
}

.article-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.details-container {
  padding: 1rem;
  flex: auto;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
  font-size: 3rem;
  text-align: center;
}
article img{
    width: 100px;
    height: 100px;
}
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  max-width: 1000px;
  margin: 0 auto;
}
.imagen-circular {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}
.derecha{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;;
}
.parrafos p{
  margin-bottom: 5px;
}
.botones{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.botones button{
    padding: 8px 16px;
    font-size: 16px;
    margin-top: 10px;
    background: gray;
    color: white;
    border: none;
    box-shadow: 0 4px 12px black;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.botones button:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgb(85, 42, 42);
    background: rgb(66, 66, 66);    
}
.imagenes-inferiores{
  display: flex;
  gap: 10px;
}
.imagenes-inferiores img{
  width: 100px;
  height: auto;
}
nav{
  display: auto;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;

}
.navbar ul{
  list-style-type: none;
  background-color: hsl(0, 0, 25%);
  padding: 0px;
  margin: 0px;
}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
}
.navbar a:hover{
  background-color: hsl(0, 0, 10%);
}
.navbar li{
  display: inline-block;
  list-style-type: none;
  display:  10px 20px;
}
html {
  scroll-behavior: smooth;
}
.container-carjeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.profesion{
  color: blue;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #DDE4FF;
  width: fit-content;
  border-radius: 50px;
}
.boton{
  display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.65rem;
    padding: 0.95rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgb(73, 113, 114);
    border: none;
    border-radius: 999px;
    cursor: pointer;
}
